* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(251, 240, 222);
    overflow-x: hidden;
}

/* Navigation bar */

.bar {
    height: .5rem;
    width: 100%;
    background-color: rgb(156, 176, 209);

}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar {
    font-size: 1.2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    color: rgb(3, 32, 3);
    border: 1px solid rgb(3, 32, 3);
    background-color: white;
}

#logo {
    height: 1.5rem;
    width: 1.75rem;
}

.navlinks {
    display: flex;
    margin: auto;
    align-items: center;
}

.homebutton {
    height: 2rem;
    width: 2rem;
}

li {
    list-style: none;
    display: inline;
    padding-left: 1rem;
    margin: auto;
}

#link {
    text-decoration: none;
    color: rgb(3, 32, 3);
}

.loginbutton {
    display: inline-flex;
    align-items: center;
}

.login {
    display: flex;
    height: 2rem;
    width: 2rem;
    padding-right: .5rem;
}

#loginlink {
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: rgb(3, 32, 3);
}

#link:hover,
#loginlink:hover {
    cursor: default;
    text-decoration: underline;
}

#link:active,
#loginlink:active {
    cursor: default;
    color: rgb(3, 32, 3);
}

#link:visited,
#loginlink:visited {
    cursor: default;
    color: rgb(3, 32, 3);
}
.dropdown {
    display: none;
}

/* 1 page */

.mainbanner {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%;
    height: 49.375rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/resources/images/sven-d-a4S6KUuLeoM-unsplash.jpg");
    border: 1px solid rgb(3, 32, 3);
    z-index: 1;
}

.container {
    margin-top: 14rem;
    margin-left: 4.375rem;
    font-family: 'Open Sans', sans-serif;
}

.welcome {
    text-align: center;
    padding: 1.25rem;
    text-shadow: 1px 1px 2px rgb(251, 250, 254);
    z-index: 50;
}

.moto h3 {
    font-family: 'Dancing Script', cursive;
    padding: 1.25rem;
    text-align: end;
    text-shadow: 1px 1px 2px rgb(251, 250, 254);
}

/* 2 page */

.aboutus {
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
}

.pagetitle {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(251, 250, 254);
    font-family: 'Rubik', sans-serif;
    color: rgb(3, 32, 3);
    margin-top: 4rem;
}

.banner2 {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%;
    height: 30.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/resources/images/arvid-skywalker-e9eK1TdOZJw-unsplash.jpg");
    border: 1px solid rgb(3, 32, 3);
    z-index: 1;
}

.text {
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
    padding: 5rem;
    text-indent: 4rem;
    text-align: justify;
}

span {
    font-weight: bold;
}

.text a {
    color: rgb(5, 5, 196);
}

.text a:hover,
.cars a:hover,
.container1 a:hover {
    text-decoration: underline;
    cursor: default;
}

.banner2 {
    padding: 3rem;
}

.banner2 p {
    font-family: 'Dancing Script', cursive;
    text-align: start;
    text-shadow: 1px 1px 2px rgb(251, 250, 254);
    font-size: 1.5rem;
    padding-top: 2rem;
}

.banner2 figcaption {
    text-align: end;
    font-size: .75rem;
    padding-top: .5rem;
}

/* 3 page*/
.cars img {
    height: 13rem;
    max-width: 18rem;
    box-sizing: border-box;
}

.page3text {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5rem;
    text-align: center;
}
.cars {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-content: center;
    width: 100%;
}

.cars figcaption,
.container1 figcaption {
    text-align: center;
    font-size: 1.25rem;
}

.cars a {
    color: rgb(3, 32, 3);
    text-decoration: none;
}

.selection {
    margin-top: 6rem;
}

#viewall {
    display: block;
    background-color: rgb(51, 112, 51);
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    height: 4rem;
    width: 17rem;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
   
}

#viewall:hover {
    cursor: pointer;
    background-color: rgb(21, 47, 21);
}
/* 4 page */

.container1 img {
    height: 17rem;
    width: 12rem;
    box-sizing: border-box;
    border: 2px solid rgb(3, 32, 3);
}

.container1 {
    margin: 12rem 0;
    display: flex;
    height: 23rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(3, 32, 3);
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
    background: linear-gradient(rgba(59, 195, 9, 0.371), 10%, rgba(7, 25, 0, 0.729));
}

.container1 a {
    color: aliceblue;
    text-decoration: none;
}

/* 5 page */

.ourteam h1 {
margin-bottom: 4rem;
}

.container2 {
    margin: auto;
    display: inline-flex;
    height: 35rem;
    width: 100%;
    background-image: url("/resources/images/vecteezy_closeup-luxury-suv-car-parked-in-modern-showroom-red-suv_7668692_215.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgb(3, 32, 3);
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
}

.container2 img {
    height: 24rem;
    width: 18rem;
    box-sizing: border-box;
    border: 2px solid rgb(3, 32, 3);
}

.container2 figcaption {
    text-align: center;
    font-size: 1rem;
    height: auto;
    width: 18 rem;
    color: rgba(3, 32, 3);
    text-shadow: 1px 1px 2px aliceblue;
    box-sizing: border-box;
    border: 2px solid rgb(3, 32, 3);
    background-color: rgb(242, 218, 161);
    padding: .5rem;
}
/* Footer */

.question {
    margin: 15rem auto;
    display: flex;
    height: 15.5rem;
    width: 100%;
    background-color: rgb(3, 32, 3, 0.6);
    align-items: center;

}

.chat {
    color: rgb(221, 238, 252);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.question button {
    font-size: 3rem;
    box-sizing: border-box;
    width: 20rem;
    height: 5rem;
    margin-top: 1rem;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(3, 32, 3);
    font-size: large;
    border: 1px solid rgba(3, 32, 3, 0.712);
    background-color: rgba(3, 32, 3, 0.504);
}

.question button:hover {
    cursor: pointer;
    background-color: rgba(13, 53, 13, 0.791);
}

.logo1 img {
    width: 6rem;
    height: 4rem;
}

.social h3 {
    font-size: 3rem;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center
}
.company {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.media {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    padding: .75rem;
    margin: auto;
}
.accounts {
    display: inline-flex;
}
.contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.loc1, .loc2 {
    text-align: center;
    padding: 2.5rem;
    font-size: 1.2rem;
}
.copyright {
    text-align: center;
    padding: 2.rem;
    font-size: .9rem;
    margin-bottom: 4rem;
}



@media only screen and (min-width: 360px) and (max-width: 767px){
.navlinks {
    display: none;
}
.orglogo {
    display: flex;
    margin: auto;  
    padding: 0;
    align-items: center;
    padding-left: -20rem;
}
/* Menu list */
.dropdown {
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 10rem;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
}
#menulst {
    height: 2rem;
    width: 2rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10rem;
  }
  .dropdown-content a {
    color: black;
    padding: .75rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    display: none;
}
}